.title {
    font-family: "Cooper BT", serif;
    font-size: clamp(3rem, 5vw, 7rem);
    color: var(--color-font-title);

    text-shadow:
        0 0 5px var(--color-shadow-title),
        0 0 5px var(--color-shadow-title),
        0 0 20px var(--color-shadow-title),
        0 0 40px var(--color-shadow-title);
}