:root{
    --color-background: #000000;
    --color-background-frame: #323131;
    --color-border-screen: #737373;
    
    --color-shadow-title: #d62323;
    --color-font-title: #ffffff;

    --color-shadow-options: #8c52ff;
}