* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--color-background);
}

.tv-frame {
    margin: 3vh 1vw;

    background-color: var(--color-background-frame);
    border: 30px solid var(--color-border-screen);
    border-radius: 40px;
    padding: 20px;

    height: 93vh;
}

.tv-screen {
    height: 100%;
    display: flex;

    flex-direction: column;

    padding: 4vh 3vw;

    overflow: hidden;

    justify-content: space-between;
    align-items: center;

    gap:2vh;

    border-radius: 20px;
}

.header{
    gap: 3rem;
}

.options-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}