body {
    margin: 0;
    background: var(--color-background);
}

.tv-frame {
    margin: 1vh 1vw;
    background-color: var(--color-background-frame);
    border: 30px solid var(--color-border-screen);
    border-radius: 40px;
    padding: 20px;
    height: 81%;
}

.tv-screen {
    border-radius: 20px;
    overflow: hidden;
}

h1{
    color: white;
}